{% extends 'home.html' %}

{% block content %}
    <div class="container">
        {% if searched %}
            <h1>You search for {{ searched }} </h1> <br>
            {% for hotel in hotelss %}

                <div class="row mb-3">
                    <div class="col">
                        <img class="" src="{{ MEDIA_URL }}{{ hotel.images.url }}" alt="image hotel"
                             style="width: 550px">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h3 class="card-title">{{ hotel.hotel_name }}</h3>

                            <div id="favourite-section">
                                <button class="btn btn-sm btn-danger add-favourite" data-hotel="{{ hotel_fav.id }}"><i
                                        class="fa fa-heart" style="font-size:35px; color: #ffffff"></i></button>
                            </div>

                            <h4>{{ hotel.hotel_address }} {{ hotel.hotel_geolocation }}</h4>
                            <p class="card-subtitle mb-3">{{ hotel.desc }}</p>

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1 class="text-center mt-3">HEY! You forget to search. </h1>
        {% endif %}
    </div>
{% endblock %}